html, body {
  font-size: 83%;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.17em;
  background-color: #efefef;
}

#page {
  max-width: 90%;
  min-width: 720px;
  margin: 15px auto 15px auto;
  padding: 20px;
  border: 4px solid #573B20;
  background-color: #c9b9b9;
}

.background-img {
  position: relative;
  margin: 0px auto 0px auto;
}
.background{
  box-shadow: 0 0 30px #302e2e;
  height: 300px;
  width: 690px;
  margin-left: 0px;

}
#logo {
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 30vh;
  width: 50px;
  margin: 10px auto 40px;
}

ul {
  width: 570px;
  padding: 20px;
  margin: 0px auto 50px auto;
  border-top: 3px solid #573B20;
  border-bottom: 3px solid #573B20;
  text-align: center;
}

li {
  display: inline;
  margin: 3px 3px;
}

p {
  text-align: center;
  width: 650px;
  margin: 30px auto 30px auto;
  font-weight: normal;
  
}


a {
  color: #573B20;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0px 18px 5px 18px;
}

a:hover, a.on {
  color: #eeedee;
  background-color: #573B20;
}
